/* Homepage CSS  */
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
}
.background{
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Faq Page Css  */

.back{
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 60vh;
  align-items: center;

}
.faqHeading{
  color: #EEB572;
text-align: center;
font-family: "Saira Condensed", sans-serif;
font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.faqline1{
  color: #FFF;
  font-family: "Saira Condensed", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 200;
line-height: normal;
letter-spacing: 1px;
text-align: center;
}


/* Accordion Css  */

.accordions{
  display: flex;
  flex-direction: column;
  gap: 2vmax;
}

.accordianmodal{
padding-top: 4vmax;
}


/* Navbar Css  */

.navbar_background{
  background-color: #000000;
  width: 100vw;
  height: 7vh;
  display: flex;
  flex-direction: row;
}
.navbar_logo{
  width: 47vw;
  height: 7vh;
  display: flex;
  justify-content: end;
  align-items: center;
}
.navbar_logo img{
  text-align: center;
  width: 30vw;
  height: 5vh;
}
.navbar_drawer{
  width: 43vw;
  height: 7vh;
  display: flex;
  justify-content: end;
  align-items: center;
}

.signIn{
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Search Bar Css  */

.searchbar_background{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.searchbar_back{
  width: 70vw;
  height: 35vh;
  border-radius: 20px;
  background: #232323;
  margin-top: 20vw;
}
.search_top{
  display: flex;
  flex-direction: column;
  gap: 1.5vmax;
  padding-top: 2.5vw;
}
.search_top_heading{
  color: #B5B5B5;
  width: 15vw;
  text-align: center;
  font-family: "Fira Sans Condensed";
  font-size: 2.7vmin;
  font-style: normal;
  font-weight: 400;
  line-height: normal;;
}
.search_top_type{
  margin-left: 7vmin;
  color: #FFF;
text-align: center;
font-family: "Saira Condensed";
font-size: 4vmin;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.searchbar_bottom {
  display: flex;
  flex-direction: row; /* Make sure it's set to "row" */
  align-items: center;
  justify-content: center;
  gap: 2vmax;
  padding-top: 4vh;
  font-family: "Saira Condensed";
}

.searchbar_dropdown{
  width: 50vw ;
  display: flex;
}
.searchbar_button{
  display: flex;
  margin-top: 3.5vh;
}